* {
    box-sizing: border-box;
    &:focus,
    &:active {
        outline: none !important;
    }
}

html {
    cursor : url(http://c.blog.xuite.net/cf/7b/11732000/blog_698/txt/4702563/39.gif), pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
body {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: top;
}

/*xxs*/

@media (max-width: $screen-xxs) {}

/*xs*/

@media (max-width: 575.98px) {}

/*sm*/

@media (min-width: 576px) {}

/*md*/

@media (min-width: 768px) {}

/*lg*/

@media (min-width: 992px) {}

/*xl*/

@media (min-width: 1200px) {}
