:root {
	--grey_50: #FAFAFA;
	--grey_500: #A7A7A7;
/*
	--grey_600: #77797C;
	--grey_700: #58595B;
	--grey_800: #3C3D3F;
*/
	--grey_900: #212224;
	--red_600: #EB0A1E;
	--blue_a700: #2962FF;
	--side-bar-bg-color: var(--grey_50);
	--control-text-color: var(--grey_500);
	font-size: 16px;
}

body {
	font-family: -apple-system,
		Roboto,
		system-ui,
		BlinkMacSystemFont,
		"Segoe UI",
		Ubuntu,
		"Helvetica Neue",
		Helvetica,
		Arial,
		黑體-繁,
		"Heiti TC",
		微軟正黑體,
		"Microsoft JhengHei",
		"Microsoft YaHei",
		sans-serif;
	color: rgb(0, 0, 0, .65);
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .0178rem;
	line-height: 1.5rem;
	text-transform: none;
}

#write {
	max-width: 856px;
	margin: 0 auto;
	padding: 32px;
}

#write > ul:first-child,
#write > ol:first-child {
	margin-top: 32px;
}

a {
	color: var(--red_600);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	margin-top: 2rem;
	margin-bottom: 1rem;
	cursor: text;
	color: #000;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
	text-decoration: none;
}

h1 tt,
h1 code {
	font-size: inherit;
}

h2 tt,
h2 code {
	font-size: inherit;
}

h3 tt,
h3 code {
	font-size: inherit;
}

h4 tt,
h4 code {
	font-size: inherit;
}

h5 tt,
h5 code {
	font-size: inherit;
}

h6 tt,
h6 code {
	font-size: inherit;
}

h1,
h2 {
	padding-bottom: .5rem;
	-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .12);
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, .12);
}

h1 {
	font-size: 3.75rem;
	font-weight: 300;
	letter-spacing: -.0083rem;
	line-height: 4.5rem;
}

h2 {
	font-size: 3rem;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 3.5rem;
}

h3 {
	font-size: 2.125rem;
	font-weight: 400;
	letter-spacing: .0073rem;
	line-height: 2.5rem;
}

h4 {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.75rem;
}

h5 {
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: .0075rem;
	line-height: 1.5rem;
}

h6 {
	font-size: .875rem;
	font-weight: 600;
	letter-spacing: .0071rem;
	line-height: 1.25rem;
	background: #000;
	color: #fff;
	padding: 6px 16px;
}

p,
blockquote,
ul,
ol,
dl,
table {
	margin: 1.5rem 0;
}

li > ol,
li > ul {
	margin: 0;
}

hr {
	height: 1px;
	padding: 0;
	margin: 19.5px 0;
	background-color: rgba(0, 0, 0, .08);
	border: 0 none;
	overflow: hidden;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

li p.first {
	display: inline-block;
}

ul {
	list-style: square;
}

ul,
ol {
	padding-left: 40px;
}

ul:first-child,
ol:first-child {
	margin-top: 0;
}

ul:last-child,
ol:last-child {
	margin-bottom: 0;
}

ul ul li,
ul ol li,
ol ul li,
ol ol li {
	font-size: .875rem;
	font-weight: 400;
	letter-spacing: .0178rem;
	line-height: 1.25rem;
}

ul ul li:last-of-type,
ul ol li:last-of-type,
ol ul li:last-of-type,
ol ol li:last-of-type {
	margin-bottom: 1.5rem;
}

blockquote {
	border-left: 4px solid var(--red_600);
	margin: 32px 0;
	padding: 0 24px 0 32px;
	color: #000;
	-webkit-transition: all, 0.3s;
	transition: all, 0.3s;
}

blockquote blockquote {
	padding-right: 0;
}

table {
	padding: 0;
	word-break: initial;
}

table * {
	margin: 0;
	padding: 0;
}

table tr {
	border-bottom: 1px solid #dfe2e5;
	margin: 0;
	padding: 0;
}

table tbody tr:nth-child(2n - 1) {
	background-color: #f8f8f8;
}

table tr th {
	font-size: .75rem;
	font-weight: 400;
	letter-spacing: .0333rem;
}

table tr th,
table tr td {
	margin: 0;
	padding: 6px 16px 5px;
}

table tr th:first-child,
table tr td:first-child {
	margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
	margin-bottom: 0;
}

.CodeMirror-lines {
	padding-left: 4px;
}

.code-tooltip {
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3);
	box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3);
	border-top: 1px solid #eef2f2;
}

.md-fences,
code,
tt {
	border: 1px solid #e7eaed;
	background-color: #f8f8f8;
	border-radius: 3px;
	padding: 0;
	padding: 2px 4px 0px 4px;
	font-size: 0.875rem;
}

code {
	background-color: #f3f4f4;
	padding: 0 2px 0 2px;
}

.md-fences {
	margin-bottom: 16px;
	margin-top: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}

/* Checkbox
-------------------------------------------------------- */
.task-list {
	padding-left: 0;
}

.task-list-item.md-task-list-item {
	line-height: 32px;
}

#write .md-task-list-item > input {
	width: 24px;
	height: 24px;
	display: block;
	-webkit-appearance: initial;
	top: 4px;
	left: -20px;
	margin-top: 0;
	border: none;
}

.md-task-list-item > input:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.md-task-list-item > input:before {
	border: 2px solid rgba(0, 0, 0, .21);
	border-radius: none;
	width: 24px;
	height: 24px;
	background: #fff;
	content: ' ';
	-webkit-transition: background-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out;
	display: block;
}

.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before {
	background: var(--grey_900);
	border-width: 0px;
	display: inline-block;
	-webkit-transition: background-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out;
}

.md-task-list-item > input:checked:after,
.md-task-list-item > input[checked]:after {
	opacity: 1;
}

.md-task-list-item > input:after {
	opacity: 1;
	-webkit-transition: opacity 0.05s ease-in-out;
	transition: opacity 0.05s ease-in-out;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
/*	top: 0.4375rem;*/
/*	left: 0.28125rem;*/
/*	width: 0.9375rem;*/
	top: 6px;
	left: 4.5px;
	width: 15px;
	height: 0.5rem;
	border: 3px solid #fff;
	border-top: 0;
	border-right: 0;
	content: ' ';
	opacity: 0;
}

/* 
-------------------------------------------------------- */

@media print {
	html {
		font-size: 13px;
	}

	table,
	pre {
		page-break-inside: avoid;
	}

	pre {
		word-wrap: break-word;
	}
}

.md-fences {
	background-color: #f8f8f8;
}

#write pre.md-meta-block {
	padding: 1rem;
	font-size: .75rem;
	font-weight: 400;
	letter-spacing: .0333rem;
	line-height: 1rem;
	background-color: #f7f7f7;
	border: 0;
	color: var(--grey_500);
	margin-top: 0 !important;
}

.mathjax-block > .code-tooltip {
	bottom: .375rem;
}

.md-mathjax-midline {
	background: var(--grey_50);
}

#write > h3.md-focus:before {
	left: -1.5625rem;
	top: .375rem;
}

#write > h4.md-focus:before {
	left: -1.5625rem;
	top: .285714286rem;
}

#write > h5.md-focus:before {
	left: -1.5625rem;
	top: .285714286rem;
}

#write > h6.md-focus:before {
	left: -1.5625rem;
	top: .285714286rem;
}

.md-image > .md-meta {
	border-radius: 3px;
	padding: 2px 0px 0px 4px;
	font-size: 0.875em;
	color: inherit;
}

.md-tag {
	color: var(--grey_500);
	opacity: 1;
}

.md-toc {
	margin-top: 24px;
	padding-bottom: 24px;
}

.sidebar-tabs {
	border-bottom: none;
}

#typora-quick-open {
	border: 1px solid #ddd;
	background-color: #f8f8f8;
}

#typora-quick-open-item {
	background-color: #FAFAFA;
	border-color: #FEFEFE #e5e5e5 #e5e5e5 rgba(0, 0, 0, .12);
	border-style: solid;
	border-width: 1px;
}

/** focus mode */
.on-focus-mode blockquote {
	border-left-color: rgba(85, 85, 85, 0.12);
}

header,
.context-menu,
.megamenu-content,
footer {
	font-family: "Segoe UI", "Arial", sans-serif;
}

.file-node-content:hover .file-node-icon,
.file-node-content:hover .file-node-open-state {
	visibility: visible;
}

.mac-seamless-mode #typora-sidebar {
	background-color: var(--grey_50);
	background-color: var(--side-bar-bg-color);
}

.md-lang {
	color: #b4654d;
}

.html-for-mac .context-menu {
	--item-hover-bg-color: #E6F0FE;
}

#md-notification .btn {
	border: 0;
}

.dropdown-menu .divider {
	border-color: #e5e5e5;
}

.ty-preferences .window-content {
	background-color: var(--grey_50);
}

.ty-preferences .nav-group-item.active {
	color: white;
	background: #999;
}