@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,500");
* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #80813D;
}

th {
  color: #20210F;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

tbody tr td:first-child {
  color: #20210F;
}

.section {
  margin-bottom: 24px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
}
table td,
table th {
  border: 1px solid #D4D666;
  background: #FDFF7A;
}
table th {
  vertical-align: top;
  padding: .75rem;
}
table td {
  vertical-align: middle;
  padding-left: .75rem;
  padding-right: .75rem;
  min-height: 100px;
}

thead tr:first-child th {
  padding-top: 2rem;
}
thead tr:last-child {
  border-bottom: 3px solid #D4D666;
}

tbody tr:first-child td {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
tbody tr td {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
tbody tr td:first-child {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: bottom;
}

tr th:first-child,
tr td:first-child {
  border-right: 2px dashed #D4D666;
  padding-right: 0;
}
tr th:first-child h1,
tr th:first-child h2,
tr th:first-child h3,
tr th:first-child h4,
tr th:first-child h5,
tr th:first-child h6,
tr th:first-child .subtitle-1,
tr th:first-child .subtitle-2,
tr th:first-child .body-1,
tr th:first-child .body-2,
tr th:first-child .button,
tr th:first-child .caption,
tr th:first-child .overline,
tr td:first-child h1,
tr td:first-child h2,
tr td:first-child h3,
tr td:first-child h4,
tr td:first-child h5,
tr td:first-child h6,
tr td:first-child .subtitle-1,
tr td:first-child .subtitle-2,
tr td:first-child .body-1,
tr td:first-child .body-2,
tr td:first-child .button,
tr td:first-child .caption,
tr td:first-child .overline {
  background: rgba(0, 0, 0, 0.08);
}

.borderBottom {
  border-bottom: 1px solid #D4D666;
  padding-bottom: 16px;
}

.container {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}
.container .col-sm-3 {
  padding-top: 16px;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

html,
body {
  font-family: "Roboto", "Segoe UI", 微軟正黑體, Microsoft JhengHei, -Apple-system, system-ui, BlinkMacSystemFont, 黑體-繁, Heiti TC, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .0178rem;
  line-height: 1.5rem;
  text-transform: none;
}

h1 .eng,
h2 .eng,
h3 .eng,
h4 .eng,
h5 .eng,
h6 .eng,
.subtitle-1 .eng,
.subtitle-2 .eng,
.body-1 .eng,
.body-2 .eng,
.button .eng,
.caption .eng,
.overline .eng {
  font-size: 1.125em;
  vertical-align: -0.025em;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -.0156rem;
  line-height: 7rem;
  text-transform: none;
}
h1 .eng {
  font-size: 1.1825em;
  vertical-align: -0.045em;
}

h2 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -.0083rem;
  line-height: 4.5rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3.5rem;
}

h4 {
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: .0073rem;
  line-height: 2.5rem;
}

h5 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
}

h6 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: .0075rem;
  line-height: 1.5rem;
}

.subtitle-1 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .0093rem;
  line-height: 1.5rem;
}

.subtitle-2 {
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .0071rem;
  line-height: 1.25rem;
}

.body-2 {
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: .0178rem;
  line-height: 1.25rem;
}

.button {
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .0535rem;
  line-height: .875rem;
  text-transform: uppercase;
}

.caption {
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: .0333rem;
  line-height: 1rem;
}

.overline {
  font-size: .625rem;
  font-weight: 400;
  letter-spacing: .15rem;
  line-height: .875rem;
  text-transform: uppercase;
}

/*# sourceMappingURL=all.css.map */
