@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:300,400,500');

.mono {
    //有運用到等寬字型則另加 
    font-family: 'Roboto Mono', monospace;
}

html,
body {
    //body-1主內文
    //    font-family: "Roboto", "Noto Sans CJK TC", "Segoe UI", 微軟正黑體, Microsoft JhengHei, -Apple-system, system-ui, BlinkMacSystemFont, 黑體-繁, Heiti TC, Helvetica, Arial, sans-serif; 
    font-family: "Roboto", "Segoe UI", 微軟正黑體, Microsoft JhengHei, -Apple-system, system-ui, BlinkMacSystemFont, 黑體-繁, Heiti TC, Helvetica, Arial, sans-serif; 
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .0178rem;
    line-height: 1.5rem;
    text-transform: none;
}

//中英併用時須加.eng
h1,
h2,
h3,
h4,
h5,
h6,
.subtitle-1,
.subtitle-2,
.body-1,
.body-2,
.button,
.caption,
.overline {
    .eng {
        font-size: 1.125em;
        vertical-align: -0.025em;
    }
}

h1 {
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: -.0156rem;
    line-height: 7rem;
    text-transform: none;
    .eng {
        font-size: 1.1825em;
        vertical-align: -0.045em;
    }
}

h2 {
    font-size: 3.75rem;
    font-weight: 300;
    letter-spacing: -.0083rem;
    line-height: 4.5rem;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 3.5rem;
}

h4 {
    font-size: 2.125rem;
    font-weight: 400;
    letter-spacing: .0073rem;
    line-height: 2.5rem;
}

h5 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
}

h6 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0075rem;
    line-height: 1.5rem;
}

.subtitle-1 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .0093rem;
    line-height: 1.5rem;
}

.subtitle-2 {
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .0071rem;
    line-height: 1.25rem;
}

.body-2 {
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .0178rem;
    line-height: 1.25rem;
}

.button {
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: .0535rem;
    line-height: .875rem;
    text-transform: uppercase;
}

.caption {
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .0333rem;
    line-height: 1rem;
}

.overline {
    font-size: .625rem;
    font-weight: 400;
    letter-spacing: .15rem;
    line-height: .875rem;
    text-transform: uppercase;
}
