* {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
body {
    margin: 0;
    padding: 0;
}

body {
    color: #80813D;
}

th {
    color: #20210F;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

tbody tr td:first-child {
    color: #20210F;
}

.section {
    margin-bottom: 24px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    td,
    th {
        border: 1px solid #D4D666;
        background: #FDFF7A;
    }
    th {
        vertical-align: top;
        padding: .75rem;
    }
    td {
        vertical-align: middle;
        //        padding: 2rem .75rem;
        padding-left: .75rem;
        padding-right: .75rem;
        min-height: 100px;
    }
}

thead tr {
    &:first-child {
        th {
            padding-top: 2rem;
        }
    }
    &:last-child {
        border-bottom: 3px solid #D4D666;
    }
}

tbody tr {
    &:first-child {
        td {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
    }
    td {
        padding-top: 2rem;
        padding-bottom: 2rem;
        &:first-child {
            padding-top: 0;
            padding-bottom: 0;
            vertical-align: bottom;
        }
    }
}

tr {
    th,
    td {
        &:first-child {
            border-right: 2px dashed #D4D666;
            padding-right: 0;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            .subtitle-1,
            .subtitle-2,
            .body-1,
            .body-2,
            .button,
            .caption,
            .overline {
                background: rgba(0, 0, 0, .08);
            }

        }
    }
}

.borderBottom {
    border-bottom: 1px solid #D4D666;
    padding-bottom: 16px;
}

.container {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    .col-sm-3 {
        padding-top: 16px;
    }
}
